* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('/img/homepage_header_fallback.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* padding-bottom: 1rem; */
}
h1 img {
    display: block;
    margin: auto;
    width: 20%;
    min-width: 200px;
}
.search{
    background-color: #2F211D; 
    height: 35px;
    width: 80%;
    padding: 1rem;
    display: block;
    margin: auto;
    color: #DAC266;
    border: solid 2px #DAC266;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.main{
    width: 80vw;
    overflow: auto;
    height: 60vh;
    margin: auto;
}
.main ul  {
display: flex;
height: 100%;
padding: 1rem;
width: 100%;
flex-wrap: wrap;
list-style: none;
}
.main ul li {
    
    height: 100%;
    width: 25%;
    min-width: 190px;
    margin: auto;
    display: flex;
}
.main img{
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 190px;
    margin: auto; 
}

::-webkit-scrollbar {
    width: 10px
  }
::-webkit-scrollbar-track {
    background: #2F211D;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: #7c6f3a;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

